// Blockquotes ------------------------------------------------------
// Base
.ss-callout-style-block,
.ss-callout-style-frame,
.ss-callout-style-vanilla {
  .markdown-preview-view blockquote {
    padding: 8px 8px 8px 12px;
    border-radius: var(--radius-s);
  }
}

// Block Style
.ss-callout-style-block {
  .markdown-preview-view blockquote {
    border-left: 4px solid var(--interactive-accent);
    background-color: var(--background-secondary)
  }
  .markdown-preview-view blockquote code:not(.mb-input) {
    border: 1px solid var(--background-modifier-border);
  }
}

// Vanilla Style
.ss-callout-style-vanilla {
  .markdown-preview-view blockquote {
    padding: 8px 8px 8px 15px;
    position: relative;
    border: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 4px;
      border-radius: var(--radius-s);
      background-color: var(--interactive-accent);
    }
  }
}


// Callouts ---------------------------------------------------------
// Base
.ss-callout-style-block,
.ss-callout-style-vanilla {
  // Block
  .callout {
    padding: 0;
    --callout-blend-mode: normal;
  }

  // Title
  .callout-title {
    padding: 8px 8px 8px 12px;
  }
  .callout-title-inner {
    flex-grow: 1;
    margin-top: 2px;
  }

  // Content
  .callout-content {
    padding: 8px 8px 8px 12px;
  }
  .callout-content > p {
    margin: 0 0 13px 0;
  }
  .callout-content > p:last-child {
    margin: 0;
  }
}


// Block Style
.ss-callout-style-block {
  // Block
  .callout {
    background: transparent;
    border-left: 4px solid rgb(var(--callout-color));
  }
  .callout code:not(.mb-input) {
    border: 1px solid var(--background-modifier-border);
  }

  // Title
  .callout-title {
    background: rgba(var(--callout-color), 0.1);
  }
  .callout.is-collapsed .callout-title,
  .callout:has(.callout-content:empty) .callout-title,
  .callout .callout-title:last-child {
    border-bottom: none !important;
  }

  // Content
  .callout-content {
    background: var(--background-secondary);
  }
}


// Functions --------------------------------------------------------
// Hide Icon
.callout[data-callout-metadata~="no-icon"] > .callout-title > .callout-icon {
    display: none !important;
}

// Center Title
.callout[data-callout-metadata~="center"] .callout-title-inner {
  text-align: center;
}

// Hide Border
.callout[data-callout-metadata~="borderless"] {
  border: none;
}

// Changing Colors
.callout[data-callout-metadata~="red"] { --callout-color: var(--color-red-rgb); }
.callout[data-callout-metadata~="orange"] { --callout-color: var(--color-orange-rgb); }
.callout[data-callout-metadata~="yellow"] { --callout-color: var(--color-yellow-rgb); }
.callout[data-callout-metadata~="green"] { --callout-color: var(--color-green-rgb); }
.callout[data-callout-metadata~="cyan"] { --callout-color: var(--color-cyan-rgb); }
.callout[data-callout-metadata~="blue"] { --callout-color: var(--color-blue-rgb); }
.callout[data-callout-metadata~="purple"] { --callout-color: var(--color-purple-rgb); }
.callout[data-callout-metadata~="pink"] { --callout-color: var(--color-pink-rgb); }
.callout[data-callout-metadata~="gray"] { --callout-color: var(--callout-quote); }
.callout[data-callout-metadata~="black"] { --callout-color: var(--base04-rgb); }

// Cite
cite {
  color: var(--ss-callouts-cite-color, var(--text-muted));
  text-align: end;
  display: block;
  padding-right: 4px;
}


// Callout Types ----------------------------------------------------
// Default
.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
    --callout-icon: notepad-text;
}
.callout[data-callout="todo"] {
    --callout-icon: list-todo;
}
.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
    --callout-icon: circle-check;
}
.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
    --callout-icon: circle-x;
}
.callout[data-callout="danger"],
.callout[data-callout="error"] {
    --callout-icon: circle-alert;
}

// Custom
.callout[data-callout="pro"] {
    --callout-color: var(--color-green-rgb);
    --callout-icon: thumbs-up;
}
.callout[data-callout="con"] {
    --callout-color: var(--color-red-rgb);
    --callout-icon: thumbs-down;
}
.callout[data-callout="target"] {
    --callout-color: var(--color-red-rgb);
    --callout-icon: target;
}
.callout[data-callout="idea"] {
    --callout-color: var(--color-orange-rgb);
    --callout-icon: lightbulb;
}
.callout[data-callout="calendar"] {
    --callout-color: var(--color-pink-rgb);
    --callout-icon: calendar;
}
.callout[data-callout="spoiler"] {
  --callout-color: var(--base04-rgb); 
  --callout-icon: eye;
}
.callout[data-callout="spoiler"],
.callout[data-callout-metadata~="spoiler"] {
  .callout-content p,
  .callout-content li {
    font-family: 'Flow Circular', sans-serif;
    color: var(--text-muted); 
  }

  .callout-content {
    user-select: none;
  }

  &:hover {
    .callout-content p,
    .callout-content li {
      font-family: var(--font-text);
      color: var(--text-normal);
    }
    
    .callout-content {
      user-select: auto;
    }
  }
}
.callout[data-callout="columns"] {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0;

  & > .callout-title {
    display: none !important;
  }

  & > .callout-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    
    padding: 0 !important; 
    background: transparent !important; 
    
    & > .callout {
      flex: 1 1 0;
      min-width: 250px;
      margin: 0; 
      
      display: flex;
      flex-direction: column;
      
      & > .callout-content {
        flex-grow: 1;
        overflow-x: hidden;
      }
    }
  }
}
.callout[data-callout="folders"] {
  --callout-color: var(--color-yellow-rgb);
  --callout-icon: folder-tree;
}
// Based on snippet by BunkerD
// Link: https://forum.obsidian.md/t/a-callout-for-a-folder-structure/61366
.callout[data-callout="folders"],
.callout[data-callout-metadata~="folders"] {
  --list-indent: 0em;
  --indentation-guide-color: transparent;

  .callout-content {
    overflow-x: visible;
  
    overflow: auto; 
  }

  // Icon Container
  .list-bullet {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: var(--text-muted);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    position: relative;
    top: 2px;
    margin-right: 6px;

    &::after {
      display: none !important;
    }
  }

  ul {
    margin-block-end: 0;
  }

  // List Element
  li {
    --list-indent: 1.5em;
    list-style: none;
    white-space: nowrap;
    font-family: var(--font-monospace);

    // File Icon
    > .list-bullet {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-icon lucide-file'%3E%3Cpath d='M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z'/%3E%3Cpath d='M14 2v5a1 1 0 0 0 1 1h5'/%3E%3C/svg%3E"); 
    }
    
    // Opened Folder Icon
    &:not(.is-collapsed):has(ul) > .list-bullet {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder-open-icon lucide-folder-open'%3E%3Cpath d='m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2'/%3E%3C/svg%3E"); 
    }

    // Closed Folder Icon
    &.is-collapsed:has(ul) > .list-bullet {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder-icon lucide-folder'%3E%3Cpath d='M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z'/%3E%3C/svg%3E"); 
    }

    // Collapse Icon
    .list-collapse-indicator {
      position: absolute;
      left: -1em;
      margin: 0;
      padding: 0 5px;
      opacity: 0;
    }

    // Italic Font
    em {
      opacity: 0.5;
    }

    // Inline Code
    code {
      font-size: 1em;
      font-family: var(--font-monospace);
      background: none;
      border: none !important;
      white-space: pre;
      margin: 0;
      padding: 0;
    }

    // Nested Lists
    li {
      position: relative;
      box-sizing: border-box;

      // Common Style
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: -1.8em;
        background: var(--list-marker-color);
      }

      // Horizontal Line
      &::before {
        top: 0.85em;
        width: 10px;
        height: 1.5px;
        margin: auto;
      }

      // Vertical Line
      &::after {
        top: 0;
        bottom: 0;
        width: 1.5px;
        height: 100%;
      }

      &:last-child::after {
        height: 0.85em;
      }
    }
  }
}
