// Languages --------------------------------------------------------
$code-languages: (
  "js": "JavaScript",
  "javascript": "JavaScript",
  "ts": "TypeScript",
  "typescript": "TypeScript",
  "py": "Python",
  "python": "Python",
  "html": "HTML",
  "css": "CSS",
  "scss": "SCSS",
  "json": "JSON",
  "cpp": "C++",
  "c": "C",
  "cs": "C#",
  "csharp": "C#",
  "java": "Java",
  "bash": "Bash",
  "sh": "Bash",
  "md": "Markdown",
  "go": "Go",
  "rust": "Rust",
  "sql": "SQL",
  "php": "PHP",
  "nix": "NIX"
);


// Codeblock --------------------------------------------------------
.ss-codeblock-styling {
  // Block Size
  .markdown-rendered pre[class*="language-"] {
    --code-header-height: 32px;

    position: relative;
    padding-top: calc(var(--code-header-height) + 11px) !important;
  }

  // Language Name
  .markdown-rendered pre[class*="language-"]::before {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--code-header-height);
    
    display: flex;
    align-items: center;
    padding: 0 10px;
    
    font-size: var(--font-small);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-muted);
    
    border-bottom: 1px solid var(--background-modifier-border);
  }

  // Copy Button
  .markdown-rendered pre[class*="language-"] .copy-code-button {
    position: absolute;
    width: var(--code-header-height);
    height: var(--code-header-height);

    margin: 0;
    padding: 6px !important;
    
    background: transparent;
    box-shadow: none;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  // Language Name Logic
  @each $ext, $name in $code-languages {
    .markdown-rendered pre.language-#{$ext}::before {
      content: "#{$name}";
    }
  }
}
