// Base Styling -----------------------------------------------------
// Table
.markdown-rendered table {
  margin: 0;
  width: 100%;
  border-radius: var(--radius-s);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden !important;
  background-color: transparent;
}

.markdown-rendered table th,
.markdown-rendered table td,
.markdown-rendered table th.table-view-th,
.markdown-rendered table td.table-view-td {
  padding: 8px 8px 8px 12px;
  border: none;
  font-size: var(--font-text-size);
}

// Header
.markdown-rendered table thead th,
.markdown-rendered table thead td,
.markdown-rendered table tr:has(.tag[href="#hdr"]) td {
  font-weight: 600;
  background-color: var(--background-modifier-hover) !important;
}

// Rows
.markdown-rendered table tbody td {
  background-color: var(--background-secondary) !important;
}

// Highlight Row on Hover
.theme-light.ss-table-highlight-row .markdown-rendered table tbody tr:not(:has(.tag[href="#hdr"])):hover td {
  background-color: color-mix(in srgb, var(--background-secondary), #000 3%) !important;
}
.theme-dark.ss-table-highlight-row .markdown-rendered table tbody tr:not(:has(.tag[href="#hdr"])):hover td {
  background-color: color-mix(in srgb, var(--background-secondary), #fff 2%) !important;
}

// Inline Code
.markdown-rendered table code:not(.mb-input) {
  border: 1px solid var(--background-modifier-border);
}

// Hide hdr Tag
.markdown-rendered table tr td .tag[href="#hdr"] {
    display: none !important;
}
