// Colored Tags
$theme-tags: (
  "important": var(--color-red),
  "todo": var(--color-blue),
  "bug": var(--color-orange),
  "idea": var(--color-green)
);


// Base Styling
a.tag {
  padding: 4px 8px 2.5px 8px;
}

.cm-hashtag {
  color: var(--text-on-accent) !important;
  padding: 2px 7px 2px 0;
}


// Square Tags
.ss-tags-square {
  a.tag,
  .metadata-property[data-property-key="tags"] .multi-select-pill {
    border-radius: var(--radius-s);
  }

  .cm-hashtag-begin {
    border-radius: var(--radius-s) 0 0 var(--radius-s);
  }
  .cm-hashtag-end {
    border-radius: 0 var(--radius-s) var(--radius-s) 0;
  }
}


// Colored Tags Logic
@each $name, $bg-color in $theme-tags {
  body a.tag[href*="##{$name}" i],
  .cm-s-obsidian [class*="cm-tag-#{$name}" i],
  .cm-s-obsidian .cm-hashtag-begin:has(+ [class*="cm-tag-#{$name}" i]) {
      background-color: $bg-color !important;
  }
}

